@import '../../styles/variables.scss';

.question-button {
  position: relative;
  width: 160px;
  max-width: 600px;
  height: 60px;
  margin: 8px 30px;
  padding: 0;
  border: none;
  user-select: none;
  outline:none;
  cursor: pointer;
  background-color: transparent;

  .background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 44px;
    border-radius: 22px;
    background-color: transparent;
    opacity: 0.95;

  }

  .background-progress-indicator {
    position: absolute;
    top: 0;
    width: 100%;
    height: 44px;
    border-radius: 22px;
    overflow: hidden;
    visibility: hidden;

    div {
      position: absolute;
      top: 0;
      width: 40%;
      height: 100%;
      background-color: desaturate(lighten($color-main-turquoise, 14%), 24%);
    }
  }

  .timer-indicator {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    visibility: hidden;
    color: lighten($color-main-green, 2%);

  }

  .text {
    position: absolute;
    width: 100%;
    top: 1px;
    left: 0;
    font-weight: 500;
    line-height: 44px;
    text-overflow: ellipsis;
    font-size: 14px;
    color: darken($color-main-turquoise, 4%);
  }

  &.hover-on {
    .background { background-color: desaturate(lighten($color-main-turquoise, 8%), 20%); }
    .text { color: #fff; }
  }

  &.used {
    .background { background-color: desaturate(lighten($color-main-turquoise, 6%), 14%); }
    .background-progress-indicator, .timer-indicator { visibility: visible; }
    .text { color: #fff }
  }

  &.hover-off {
    .background { background-color: desaturate(lighten($color-main-turquoise, 8%), 20%); }
    .background-progress-indicator, .timer-indicator { visibility: hidden; }
    .text { color: $color-main-turquoise; }
  }
}

@media (max-width: 860px) {
  .question-button { margin: 8px 10px; }
}
