.player-interface {
  .hints-ico {

    * { transform-origin: center; }

    &.sense {
      .flash { animation: player-interface-hints-animate-1 1.2s 0s 1; }
      .main { animation: player-interface-hints-animate-2 0.4s 0s 1; }
    }

    &.re-sense {
      .flash { animation: player-interface-hints-animate-1a 1.2s 0s 1; }
      .main { animation: player-interface-hints-animate-2a 0.4s 0s 1; }
    }

    &.enable {
      .flash { animation: player-interface-hints-animate-1a 1.2s 0s 1; }
      .main { animation: player-interface-hints-animate-2a 0.4s 0s 1; }
    }

    &.disabled {
      .circle { fill: #2f83a8; }
      .flash { animation: player-interface-hints-animate-1a 1.2s 0s 1; }
      .main {
        :nth-child(1) { fill: #217497; }
        :nth-child(2) { fill: #26aac3; }
      }

    }
  }
}

@keyframes player-interface-hints-animate-1 {
  0% { opacity: 0; transform: scale(0); }
  5% { opacity: 1; transform: scale(1); }
  5.1% { transform: scale(0); }
  30% { opacity: 1; transform: scale(1); }
  50% { opacity: 1; transform: scale(0.98); }
  100% { opacity: 0; transform: scale(0); }
}

@keyframes player-interface-hints-animate-1a {
  0% { opacity: 0; transform: scale(0); }
  5% { opacity: 1; transform: scale(1); }
  5.1% { transform: scale(0); }
  30% { opacity: 1; transform: scale(1); }
  50% { opacity: 1; transform: scale(0.98); }
  100% { opacity: 0; transform: scale(0); }
}

@keyframes player-interface-hints-animate-2 {
  0% { opacity: 0; transform: scale(0); }
  60% { transform: scale(1.1); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes player-interface-hints-animate-2a {
  0% { opacity: 0; transform: scale(0); }
  60% { transform: scale(1.1); }
  100% { opacity: 1; transform: scale(1); }
}
