$color-main-blue: #0075a8;

$color-main-turquoise: #15a9a4;

$color-main-green: #318a46;

$color-main-red: #ed643a;

$color-main-blackgrey: #4f4f4f;

$color-main-yellow: #ffd490;

$color-main-grey: #a9b4ba;
