@import '../styles/variables.scss';

.tower {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  bottom: 0;
  max-height: 100%;
  overflow: hidden;
}
