.clouds-front {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  height: 120px;
  width: 100%;
  overflow: hidden;

  svg {
    margin-left: 10%;
  }

  &.first-show {
    svg {
      g:nth-child(1) {

      }
      g:nth-child(2) {

      }
    }
  }
}
