@import '../../styles/variables.scss';

.tower {

  .knight-climbing {
    position: absolute;
    margin: -30px 0 0 -42px;
    width: 100px;
    height: 100px;
    opacity: 0;

    .hend-and-sword {
      transform-origin: 64px 59px;
      transform: translateX(4px);
      animation: knight-climbing-hend-animation-1 2s 0s infinite;

      .sword {
        transform-origin: 30px 58px;
      }
    }

    .head {
      transform-origin: 70px 55px;
      animation: knight-climbing-head-animation-1 2s 0s infinite;
    }

    &.show {
       animation: knight-climbing-show-animation-1 0.4s 0.3s 1 forwards;
    }

    &.hide {
       animation: knight-climbing-hide-animation-1 0.22s 0s 1 forwards;
    }

  }


}

@keyframes knight-climbing-show-animation-1 {
  0% { opacity: 0; transform: rotate(13deg) scale(0.8) translateX(40px); }
  50% { opacity: 1; transform: rotate(0) scale(1) translateX(-4px); }
  85% { opacity: 1; transform: rotate(0) scale(0.99) translateX(2px); }
  100% { opacity: 1; transform: rotate(0) scale(1) translateX(0px); }
}

@keyframes knight-climbing-hide-animation-1 {
  0% { opacity: 1; transform: rotate(0) translateX(0px); }
  100% { opacity: 0.5; transform: rotate(4deg) scale(0.8) translateX(80px); }

}

@keyframes knight-climbing-hend-animation-1 {
  0% { transform: rotate(0) translateX(3px); }
  50% { transform: rotate(15deg) translateX(6px); }
  100% { transform: rotate(0) translateX(3px); }
}

@keyframes knight-climbing-hend-animation-2 {
  0% { transform: rotate(0); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(0); }
}

@keyframes knight-climbing-head-animation-1 {
  0% { transform: rotate(0); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(0); }
}
