@import '../../styles/variables.scss';

.tower{
  .floor-upper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 60px;

    .building {
      position: absolute;
      bottom: -1px;
    }

  }
}
