@import '../../styles/variables.scss';
.questions-interface {

  .question-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    max-width: 600px;
    height: 54px;
    margin: 8px 30px;
    padding: 0;
    border: none;
    user-select: none;
    outline:none;
    cursor: pointer;
    background-color: transparent;
    opacity: 0;

    .background {
      position: absolute;
      width: 100%;
      height: 44px;
      border-radius: 22px;
      background-color: rgba($color-main-turquoise, 0.07);
      opacity: 0.95;
    }

    .background-progress-indicator {
      position: absolute;
      width: 100%;
      height: 44px;
      border-radius: 22px;
      overflow: hidden;
      visibility: hidden;

      div {
        position: absolute;
        top: 0;
        width: 0;
        height: 100%;
        background-color: desaturate(lighten($color-main-turquoise, 14%), 24%);
      }
    }

    .text {
      position: absolute;
      width: 100%;
      left: 0;
      margin-top: 1px;
      font-weight: 500;
      line-height: 44px;
      text-overflow: ellipsis;
      font-size: 14px;
      color: darken($color-main-turquoise, 4%);
    }

    .timer-ico {
       visibility: hidden;
    }

    &.use {
      .background {
        background-color: desaturate(lighten($color-main-turquoise, 6%), 14%);
        transition: background-color 1s 0s;
      }
      .background-progress-indicator, .timer-indicator { visibility: visible; }
      .text { color: #fff }

      .timer-ico {
        position: absolute;
        width: 34px;
        height: 34px;
        left: 6px;
        visibility: visible;

        .arrow {
          transform-origin: center;
          animation: question-button-timer-ico-animate-1 3s 0.1s infinite linear;
        }
      }
    }

    &.click {
      animation: common-button-click-animate-1 0.2s 0.1s 1 forwards;
    }

  }

  &.show, &.first-show {
    .question-button:nth-child(1) { animation: common-fadein-left-side-animate-2 0.4s 0.16s 1 forwards linear; }
    .question-button:nth-child(2) { animation: common-fadein-left-side-animate-2 0.4s 0.2s 1 forwards linear; }
    .question-button:nth-child(3) { animation: common-fadein-left-side-animate-2 0.4s 0.3s 1 forwards linear; }
  }

  &.pending-answer-select {
    .question-button.use .text {
      font-size: 18px;
    }
    .question-button:not(.use) {
      animation: question-button-hide-animate-1 0.8s 0s 1 forwards;
    }
  }

  @media (max-width: 860px) {
    .question-button { margin: 8px 6px; }
  }

  @media (max-width: 720px) {
    .question-buttons {
      margin: 8px 10px;
        flex-direction: column;
        align-self: center;

        > .line { visibility: hidden; }
    }
  }
}

@keyframes question-button-hide-animate-1 {
  0% {
    opacity: 1;
    width: 180px;
    height: 1;
    margin: 8px 30px;
  }
  50% { opacity: 0; }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
  }
}

@keyframes question-button-timer-ico-animate-1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
