.clouds-back {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  height: 220px;
  width: 100%;
  overflow: hidden;

  svg {
    margin-right: 6%;
    g { opacity: 0; }
  }

  &.first-show {
    svg {
      g:nth-child(1) {
        animation: clouds-back-animate-1 1.6s 0s 1 forwards;
      }
      g:nth-child(2) {
        animation: clouds-back-animate-2 1s 0s 1 forwards;
      }
    }
  }

}

@keyframes clouds-back-animate-1 {
  0%{ opacity: 0; transform: translateX(-100px); }
  100%{ opacity: 1; transform: translateX(0); }
}

@keyframes clouds-back-animate-2 {
  0%{ opacity: 0; transform: translateX(80px); }
  100%{ opacity: 1; transform: translateX(0); }
}
