@import '../styles/variables.scss';

.main-button {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;

  min-width: 180px;
  height: 44px;
  border: none;
  user-select: none;
  outline:none;
  cursor: pointer;
  border-radius: 22px;
  background-color: desaturate(lighten($color-main-turquoise, 58%), 24%);

  &.hoverOn {
    .lines {
      > div:nth-child(1) {
         animation: main-button-animate-1 0.2s 0s 1 forwards;

         > div > div {
           animation: main-button-animate-3 0.4s 0s 1 forwards;
        }
      }
      > div:nth-child(2) {
         animation: main-button-animate-1a 0.2s 0s 1 forwards;
      }
    }
  }

  &.hoverOff {
    .lines {
      > div:nth-child(1) {
        animation: main-button-animate-2 0.12s 0s 1 forwards;
      }
      > div:nth-child(2) {
         animation: main-button-animate-2a 0.12s 0s 1 forwards;
      }
    }
  }

  .ico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;

    path {
      stroke-color: $color-main-turquoise;
    }
  }

  .text {
    flex: 1;
    align-self: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin: 1px 30px 0 0;
    color: $color-main-turquoise;
  }

  .lines {
    position: absolute;
    width: 100%;
    height: 56px;

    * {
      position: absolute;
      background-color: $color-main-turquoise;
    }

    > div:nth-child(1) {
      left: 64px;
      width: calc(100% - 100px);
      height: 1px;
      top: 0;
      opacity: 0;
      animation: main-button-lines-out-animate-1 0.12s 0s 1 forwards;

      > div {
        top: 0;
        left: 0;
        width: 36px;
        height: 1px;
        transform-origin: left;
        transform: rotate(-225deg);

        > div {
          top: -3px;
          right: -10px;
          width: 30px;
          height: 1px;

        }
      }
    }


    > div:nth-child(2) {
      right: 40px;
      width: calc(100% - 60px);
      height: 1px;
      bottom: 0;
      opacity: 0;
      animation: none;

      > div {
        right: 0;
        width: 60px;
        height: 1px;
        transform-origin: right;
        transform: rotate(135deg);

        > div {
          top: 0;
          left: 0;
          width: 8px;
          height: 1px;
          transform-origin: left;
          transform: rotate(90deg);

        }
      }
    }

  }

}


@keyframes main-button-animate-1 {
  0% {
    transform: translateX(-40px);
  }
  40% {
    transform: translateX(-5px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes main-button-animate-1a {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes main-button-animate-2 {
  0% { opacity: 1; }
  100% {
    transform: translateX(-20px);
    opacity: 0;
  }
}

@keyframes main-button-animate-2a {
  0% { opacity: 1; }
  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}

@keyframes main-button-animate-3 {
  0% {
    transform: translateX(-40px);
  }
  40% {
    transform: translateX(-6px);
  }
  70% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes main-button-animate-4 {
  0% {
    transform: scale(0.98);
  }
  40% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}
