@import '../styles/variables.scss';

.player-interface {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: 100px;

  * { color: #fff}

  .name {
    font-size: 16px;
    font-weight: 400;
  }

  .box {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    border-radius: 35px;
    background-color: desaturate(lighten($color-main-blue, 8%), 30%);

    .img {
      width: 60px;
      height: 60px;
      border-radius: 31px;
    }
  }

  .hints {
    display: flex;
    align-items: center;

    width: 40px;
    height: 80px;

    > svg {
      width: 40px;
      height: 40px;
    }

    .count-indicator {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 8px;
      margin-bottom: 60px;

      div {
        width: 3px;
        height: 3px;
        margin: 0 2px;
        border-radius: 3px;
        background-color: lighten($color-main-turquoise, 8%);
      }
    }
  }

  .lives {
    display: flex;
    align-items: center;
  }

  .scores {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform-origin: center;

    p {
      position: relative;
      line-height: 18px;
      font-size: 15px;
      letter-spacing: 3px;
      min-width: 72px;
      font-weight: 400;
      text-align: center;

      :nth-child(2) {
        position: absolute;
        right: -40px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
        color: lighten($color-main-turquoise, 40%);
        opacity: 0;
      }
    }

    &.sense {
      p {
        animation: player-interface-scores-animate-1 0.5s 0s 1;

        :nth-child(2) { animation: player-interface-scores-animate-2 1.5s 0s 1; }
      }

    }

    &.re-sense {
      p {
        animation: player-interface-scores-animate-1 0.5s 0s 1;

        :nth-child(2) { animation: player-interface-scores-animate-2 1.5s 0s 1; }
      }
    }

    svg {
      padding-right: 2px;
    }
  }

  &.main {
    top: 40px;
    left: 30px;

    .box.main {
      flex-direction: row;
      align-items: center;
      margin-bottom: 4px;
    }

    .avatar {
      margin-right: 10px;

      .img {
        background: url(../assets/images/player-male-ico-60x60-1.jpg) no-repeat center;
      }
    }

    .scores {
      text-align: left;

       :nth-child(2) {
         right: -40px;
       }
    }
  }


  &.second {
    top: 40px;
    right: 30px;

    .name {
      text-align: right;
    }

    .box.main {
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 4px;
    }

    .avatar {
      margin-left: 10px;

      .img {
        background: url(../assets/images/player-female-ico-60x60-1.jpg) no-repeat center;
      }
    }

    .scores {
      flex-direction: row-reverse;

      :nth-child(2) {
        left: -40px;
      }
    }

  }


}

@media (max-width: 800px) {
  .player-interface {
     .lines { visibility: hidden; }
  }
}

@media (max-width: 680px) {
  .player-interface {
    width: 80px;
  }
  .player-interface.main, .player-interface.second {

      .name {
        font-size: 12px;
        font-weight: 400;
      }

     .box.main {
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
     }

     .avatar {
       margin: 0 4px -2px 4px;
       transform: scale(0.94);
     }

     .hints {
       display: flex;
       justify-content: center;
       height: 40px;
       width: 100%;
       margin-bottom: -5px;
       transform: scale(0.9);
       .count-indicator { visibility: hidden; }
     }

     .scores {
       margin-top: 4px;
       flex-direction: row;
       justify-content: center;

       p {  letter-spacing: 0; }
     }
  }

  .player-interface.main {
    top: 20px;
    left: 20px;

    .lives {

      width: 80px;
      flex-direction: column;
      flex-wrap: wrap;

      .hart-ico {
        margin: 0 2px -2px 2px;
        transform: scale(0.9);
      }
    }
  }

  .player-interface.second {
    top: 20px;
    right: 20px;

    .lives {
      flex-direction: column;
      flex-wrap: wrap;

      .hart-ico {
        margin: 0 2px -2px 2px;
        transform: scale(0.9);
      }
    }
  }
}

@keyframes player-interface-scores-animate-1 {
  0% { opacity: 0; }
  10% { opacity: 1; }
  20% { opacity: 0; }
  30% { opacity: 1; }
  40% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes player-interface-scores-animate-2 {
  0% { opacity: 0; transform: translateX(-20px); }
  8% {  opacity: 1; transform: translateX(4px); }
  10% { opacity: 1;transform: translateX(0); }
  100% { opacity: 0; transform: translateX(0); }
}
