@import '../styles/variables.scss';

.player-interface {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: 100px;

  * { color: #fff}

  .name {
    font-size: 16px;
    font-weight: 400;
  }

  .box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    border-radius: 35px;
    background-color: desaturate(lighten($color-main-blue, 8%), 30%);

    .img {
      width: 60px;
      height: 60px;
      border-radius: 31px;
    }
  }

  .hints {
    display: flex;
    align-items: center;

    width: 40px;
    height: 80px;

    > svg {
      width: 40px;
      height: 40px;
    }

    .count-indicator {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 8px;
      margin-bottom: 60px;

      div {
        width: 3px;
        height: 3px;
        margin: 0 2px;
        border-radius: 3px;
        background-color: lighten($color-main-turquoise, 8%);
      }
    }
  }

  .lives {
    display: flex;
    align-items: center;
  }

  .score {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    svg {
      padding-right: 2px;
    }
  }

  &.main {
    top: 40px;
    left: 30px;

    .box {
      &:nth-child(2) {
        flex-direction: row;
        align-items: center;
        margin-bottom: 4px;
      }
    }

    .avatar {
      margin-right: 10px;

      .img {
        background: url(../assets/images/player-male-ico-60x60-1.jpg) no-repeat center;
      }
    }

    .score {
      text-align: left;
    }
  }


  &.second {
    top: 40px;
    right: 30px;

    .name {
      text-align: right;
    }

    .box {
      &:nth-child(2) {
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 4px;
      }
    }

    .avatar {
      margin-left: 10px;

      .img {
        background: url(../assets/images/player-female-ico-60x60-1.jpg) no-repeat center;
      }
    }

    .score {
      flex-direction: row-reverse;
    }

  }
}
